<%- include('../partials/header.html')%>
<%- include('../partials/navbar.html')%>
    <div class="container">
        <h2 class="t_center fw-bold mt80">BRAND LIST</h2>
    
          <div class="d-flex justify-content-between align-items-center mb-3">
          </div>
    
          <table id="brandTable" class="table table-bordered">
            <thead class="table-dark">
              <tr>
                <th class="t_center"><input type="checkbox" id="selectAll"></th>
                <th>Name</th>
                <th>Description</th>
              </tr>
            </thead>
          </table>
    </div>
<%- include('../partials/commonjs.html')%>
<script src="/js/brands.js"></script>
<%- include('../partials/footer.html')%>