<%- include('../partials/header.html') %>
<%- include('../partials/navbar.html') %>   

<div class="container-fluid mt80">
  <h2 class="text-center fw-bold"> PRODUCT LIST</h2>

  <div class="d-flex justify-content-end">
    <div class="action-btn-group">
      <button class="btn btn-outline-secondary" id="deleteProductBtn">Delete</button>
      <button class="btn btn-outline-success" id="addProductBtn">Add Product</button>
    </div>
  </div>

  <div class="table-responsive">
    <table id="productTable" class="table table-bordered table-striped nowrap" style="width:100%">
      <thead class="table-dark">
        <tr>
          <th><input type="checkbox" id="selectAll" /></th>
          <th>Name</th>
          <th>Length (mm)</th>
          <th>Width (mm)</th>
          <th>Height (mm)</th>
          <th>Weight (g)</th>
          <th>Shape</th>
          <th>Hump Placement</th>
          <th>Front Flare</th>
          <th>Side Curvature</th>
          <th>Hand Compatibility</th>
          <th>Thumb Rest</th>
          <th>Ring Finger Rest</th>
          <th>Material</th>
          <th>Connectivity</th>
          <th>Sensor</th>
          <th>Sensor Technology</th>
          <th>Sensor Position</th>
          <th>DPI</th>
          <th>Polling Rate</th>
          <th>Tracking Speed (IPS)</th>
          <th>Acceleration (G)</th>
          <th>Side Buttons</th>
          <th>Middle Buttons</th>
        </tr>
      </thead>
    </table>
  </div>
</div>

<%- include('../partials/commonjs.html') %>
<script src="/js/products.js"></script>
<%- include('../partials/footer.html') %>
