<%- include('../partials/ui_header.html') %>
<%- include('../partials/ui_navbar.html') %>  

  <!-- MAIN CONTENT -->
  <main class="container mt-5 pt-5">
     <div class="text-center">
       <h1 class="fw-bold">EloShapes</h1>
       <p class="lead">
         Compare the shapes and technical specifications of more than 900 gaming mice to find the perfect one for you!
       </p>
     </div>

    <div class="row text-left g-4 mt-4">
      <div class="col-md-4">
        <a href="/compare" class="feature-box">
          <i class="bi bi-activity fs-2"></i> 
          <h5>Compare</h5>
          <p>Compare the shapes and technical specifications of gaming mice.</p>
        </a>
      </div>
      <div class="col-md-4">
        <a href="/find-similar" class="feature-box">
          <i class="bi bi-search fs-2"></i>
          <h5>Find Similar</h5>
          <p>Find the most similar gaming mice to your favorite mouse.</p>
        </a>
      </div>
      <div class="col-md-4">
        <a href="/database" class="feature-box">
          <i class="bi bi-database fs-2"></i>
          <h5>Database</h5>
          <p>Search and filter through a vast database of gaming mice.</p>
        </a>
      </div>
      <div class="col-md-6">
        <a href="/reviews" class="feature-box">
          <i class="bi bi-star fs-2"></i>
          <h5>Reviews</h5>
          <p>Read reviews of gaming mice by EloShapes.</p>
        </a>
      </div>
      <div class="col-md-6">
        <a href="/discounts" class="feature-box">
          <i class="bi bi-tag fs-2"></i>
          <h5>Discounts</h5>
          <p>See the latest deals and discount codes for gaming mice.</p>
        </a>
      </div>
    </div>
  </main>

  <%- include('../partials/commonjs.html') %>
  <%- include('../partials/footer.html') %>