<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/toastr.min.css">
</head>

<body>

  <nav class="navbar">
    <ul>
      <li><a href="/user">User</a></li>
      <li><a href="/">Product</a></li>
    </ul>
  </nav>



  <div class="tl">
    <h1 class="title">Mouse Database</h1>
    <input type="text" id="searchInput" placeholder="Search..." class="search-box" />
  </div>


  <div class="action-buttons">
    <button class="action-btn add-product-btn" id="addProductBtn">Add Product</button>
    <button class="action-btn delete-btn" id="deleteProductBtn">Delete</button>
  </div>



  <div class="content">
    <table id="productTable" border="1" class="table">
      <thead>
        <tr>
          <th><input type="checkbox" id="selectAll" /></th>
          <th>Name</th>
          <th>Email</th>
          <th>Ngay tao</th>
          <th>Ngay sua </th>
          <th>Hanh dong</th>
        </tr>
      </thead>
      <tbody id="productTableBody">
          <!-- Dữ liệu sẽ tự động thêm bằng JS -->
      </tbody>
    </table>
  </div>

  <script src="/js/jquery-3.7.1.min.js"></script>
  <script src="/js/toastr.min.js"></script>
</body>
</html>
